<header><a href="#" class="menu-toggle"><i class="fas fa-bars"></i></a><a href="#" class="brand-logo">
        <img src="assets/img/k_logo.png" alt="" class="logola"></a></header>

<nav class="dashboard-nav-list"><a routerLink="home" class="dashboard-nav-item"><i class="fas fa-home"></i>
        <span>Home</span> </a><a href="#" class="dashboard-nav-item active"><i class="fas fa-tachometer-alt"></i>
        <span>dashboard</span>
    </a>

    <div class='dashboard-nav-dropdown'><a  class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                class="fas fa-photo-video"></i> <span>Products Category</span> </a>
        <div class='dashboard-nav-dropdown-menu'>
            <!-- <a href="#" class="dashboard-nav-dropdown-item">All</a> -->
            <a routerLink="skinCareCategory" class="dashboard-nav-dropdown-item">Skin Care</a>
            <a routerLink="hairCareCategory" class="dashboard-nav-dropdown-item">Hair Care</a>
            <a href="#" class="dashboard-nav-dropdown-item">Oral Care</a>
        </div>
    </div>


    <div class='dashboard-nav-dropdown'><a  class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                class="fas fa-photo-video"></i> <span>Products</span></a>
        <div class='dashboard-nav-dropdown-menu'>
            <!-- <a href="#" class="dashboard-nav-dropdown-item">All</a> -->
            <a routerLink="add-product" class="dashboard-nav-dropdown-item">Add Product</a>
            <a routerLink="product-list" class="dashboard-nav-dropdown-item">Product List</a>
            <!-- <a href="#" class="dashboard-nav-dropdown-item">Oral Care</a> -->
        </div>
    </div>



    <!-- <div class='dashboard-nav-dropdown'><a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                class="fas fa-users"></i> <span>Users</span></a>
        <div class='dashboard-nav-dropdown-menu'><a href="#" class="dashboard-nav-dropdown-item">All</a><a href="#"
                class="dashboard-nav-dropdown-item">Subscribed</a><a href="#"
                class="dashboard-nav-dropdown-item">Non-subscribed</a><a href="#"
                class="dashboard-nav-dropdown-item">Banned</a><a href="#" class="dashboard-nav-dropdown-item">New</a>
        </div>
    </div> -->

    <!-- <div class='dashboard-nav-dropdown'><a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                class="fas fa-money-check-alt"></i> <span>Payments</span></a>
        <div class='dashboard-nav-dropdown-menu'><a href="#" class="dashboard-nav-dropdown-item">All</a><a href="#"
                class="dashboard-nav-dropdown-item">Recent</a><a href="#" class="dashboard-nav-dropdown-item">
                Projections</a>
        </div> 
    </div>-->

    <!-- <a href="#" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> <span>Upload</span></a> -->

    <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> <span>Settings</span> </a><a href="#"
        class="dashboard-nav-item"><i class="fas fa-user"></i> Profile </a>
    <div class="nav-item-divider"></div>
    <a href="#" class="dashboard-nav-item  "><i class="fas fa-sign-out-alt"></i> <span>Logout</span> </a>
</nav>